* {
    font-family: sans-serif;
}

.navbar {
    color: #32384d;
    background-color: transparent;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    display: flex;
    flex-direction: row;
    padding: 25px 0;
}
    
.nav-item {
    margin: auto;
}
    
      